.homepage{
  background-image: url("./images/homebg.jpg");
  position:fixed;
    padding:0;
    margin:0;
  text-align: center;


    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    
}

/* .loginpage{
 
    background-image: url("./images/login.jpg");
    position:fixed;
      padding:0;
      margin:0;
  
      top:0;
      left:0;
  
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      

} */

.buttons{
  margin: 3%;
}
.App {
  /* text-align: center; */
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.homePageContainer{

	height: 200px;

	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

/* .buttongroup{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}  */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
