.dashboardTitle{
    color: greenyellow;
    padding-top: 5%;

}

.linedrpdwn{
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #4caf50 !important;
    color: white !important;
}
.options{
    color: black;
 }
 .dashboardContainer{
    width: 50%;
    margin-left: 27%;
 }
 .logout{
     float: right!important;
 }
 @media (max-width: 700px){
    .dashboardContainer {
        width: 80%;
        margin-left: 10%;
    }
}

 .shpname,.dueamnt{
     text-align: center;
 }
 .shpname{
     color: gold;
 }
 .dueamnt{
     color:coral;
 }
 .amnt{
     color:deeppink
 }
 .react-datepicker__input-container input{
     color: black !important;
     border: 1px solid #ced4da !important;
 }