@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(./images/bg.jpg) no-repeat;
    /* object-fit: cover; */
}
.desc{
    color: black;
}

  .loginContainer{
      width: 30%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      color:white;

  }
  .home{
      color: white;
  }
  @media (max-width: 700px){
    .loginContainer{
        width: 80%;
    }
}
  .loginContainer h1,.registerContainer h1{
      display: table-cell;
      font-size: 40px;
      border-bottom: 4px solid #4caf50;
      margin-bottom: 50px;
      padding:13px 0
  }
  .textbox{
      width:100%;
      overflow: hidden;
      font-size: 20px;
      padding:8px 0;
      margin:8px 0;
      border-bottom: 1px solid #4caf50;
  }
  .textbox i{
      width: 26px;
      float: left;
      text-align:center;
  }
 
  .email,.password,.username{
    background: none !important;
    border: none !important;
    color:white !important;
  }

  /* .textbox input{
      border:none;
      outline:none;
      background: none;
      color:white;
      font-size: 18px;
      width: 80px;
      float:left;
      margin:10px;
  } */

  .btn{
      width: 100%;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
      margin: 12px 0;
  }