.registerContainer{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerPage{

}