.registerContainer{
    width: 40%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
}

@media (max-width: 700px){
    .registerContainer{
        width: 80%;
    }
}
/* .submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
    
} */
.submitButton{
    width: 100%;
    background: none;
    /* border:2px solid #4caf50; */
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

