body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(./images/bg.jpg);
    /* object-fit: cover; */
}
.labels{
    font-size: 20px;
    color: darkorange;
    font-weight: 500;
    padding: 0 2%;
}
.formContainer{
    width: 50%;
    margin-left: 27%;
    padding:3% 3% 0 3%;
   
}

.totalamount{
    color: #007bff;
    text-align: center;
}

.react-datepicker__input-container input{
    background: none;
    border: 2px solid green;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight:500
}
.react-datepicker__input-container :hover{
    background-color: darkcyan;
} 
.buttongrp{
    padding: 10%;
}
.formContainer h2{
    text-align: center;
    color: greenyellow;;
    padding-bottom: 7%;
}
.card{
    background: none !important;
    border: 2px solid white !important;
    margin: 2% 10% !important;
}

.card .btn-link{
    color:#007bff;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.card-body{
    overflow-x: auto;
}
.btn-link:hover{
    color:gold !important;
    text-decoration: none !important;
}
.table thead{
    background-color: lightsteelblue;
    text-align: center;
    font-size: larger;
    color: black;
}
.table tbody tr{
    color: wheat;
    font-size: large;
    text-align: center;
    font-weight: 600;
}

tbody tr:hover{
    color: wheat !important;
    font-size: large;
    text-align: center;
    font-weight: 600;
}
.table tbody tr:nth-child(odd){background-color:purple!important}
.table tbody tr:nth-child(even){background-color:chocolate}
.table tbody tr:nth-child(odd):hover{background-color: purple!important;}
.table tbody tr:nth-child(even):hover{background-color: chocolate}


@media (max-width: 1000px){
    .center{
        text-align: center;
    }
}
@media (max-width: 700px){
    .formContainer{
        width: 100%;
        margin-left: 0;
       
       
    }
}
@media (max-width: 400px){
    .table thead{
       font-size: 16px;
   }
   .table tbody tr,tbody tr:hover{
       font-size: 14px;
   }
}


